.container{
    display: flex;
    /*font-family: Arial, sans-serif; /* Modern font */
}

.selected-address-section, .change-address-section{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.address-box, .address-option{
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #76716b;
    padding: 10px;
    border-radius: 5px; /* rounded corners for modern look */
    width: 100%;
}

.address-option-modal .address-option:first-child {
    margin-top: 0;
}

.address-label{
    display: flex;
    align-items: center;
}

.address-option-modal{
    overflow-y: auto; /* scrollable */
    overflow-x: hidden;
    max-height: 300px; /* adjust as needed */
    /*padding: 10px 0;*/
    width: 100%;
}

.address{
    padding-left: 10px;
}

input[type="radio"]{
    accent-color: blue; /* modern radio button color */
}

.radio-button {
    background-color: white;
    border: 1px solid #76716b;
    border-radius: 50%; /* Circular shape */
    width: 15px; /* Size of the button */
    height: 15px;
    margin-right: 10px;
    cursor: pointer; /* Hand cursor on hover */
}

.address-input {
    width: 100%; /* Same width as address option */
    padding: 10px; /* Padding for better text visibility */
    margin: 10px 0; /* Margin for spacing */
    border: 1px solid #76716b; /* Border to match address option */
    border-radius: 5px; /* Rounded corners */
    font-family: Arial, sans-serif; /* Consistent font */
}

h2{
    font-size: 1.25rem;
    font-weight: bold;
}